.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .teamNameSection {
    grid-column: span 3;
    justify-self: start;
    align-self: end;

    .teamName {
      font-size: 4rem;
      margin-bottom: 20px;
    }
  }

  .winsLossSection {
    padding: 40px;
    justify-self: center;
    text-align: center;
  }

  .matchDetailSection {
    grid-column: span 4;
  }

  .moreLink {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
  }
}
